body {
  background-color: lavender;
  height: 100vh;
}

.userNameErrorMessage,
.emailErrorMessage,
.confirmPasswordErrorMessage,
.passwordErrorMessage {
  height: 12px;
}

label[for="name"]::after,
label[for="email"]::after {
  content: " *";
  color: red;
}

#userNameSrOnly,
#emailSrOnly {
  display: none;
}

input:user-invalid {
  border-color: red;
}
